:root {
    --logo-color: #E7CCBD;
    --secondary-color: #E1B0A4;
    --background-color: #F0E0D6;
    --accent-color: #B48D6D;
    --text-color: #3E3A3A;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    font-family: 'Indie Flower', sans-serif;
}

.left-nav, .title, .right-nav {
    margin: 0px;
    padding: 0px;
}

.left-nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-between;
}
.right-nav {
    display: flex;
    justify-content: flex-end;
}

.logo {
    height: 100px;
    border-radius: 360px;
}
.title {
    text-align: center;
    font-size: 3.5rem;
    color: var(--accent-color);
    font-family: 'Pacifico', sans-serif;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
}


.hero {
    position: relative;
    padding-top: 0.1px;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr;
    height: 600px;
    background-image: url("../images/hero-background.png"); 
    background-size: cover;
    background-position: center;
    color: white;
    align-items: center;
    justify-items: center;
    gap: 50px;
}

.hero-tagline {
    grid-row: 2;
    font-family: 'Indie Flower', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

}

.hero-tagline h2 {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    font-family: 'Indie Flower', sans-serif;
    font-weight: bold;
}

.hero-tagline p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.hero-cta {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease;
}

.hero-cta img {
    width: 50px;
    height: auto;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}

.hero-cta a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Indie Flower', sans-serif;
    font-weight: bold;
}

.hero-cta:hover {
    transform: translateY(-10px);
}

.card .img img {
    width: 140px;
    
}