@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Tangerine:wght@400;700&display=swap');

:root {
    --bg: #fffcf2;
    --text: #3b3b3b;
    --muted: #888888;
    --accent: #7b4a2b;
    --accent-dark: #5f2a0f;
    --highlight: #e1c2b3;
    --white: #fff;
    --error: #d9534f;
}

body {
    background-color: var(--bg);
    font-family: 'Quicksand', sans-serif;
    color: var(--text);
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 3rem;
}


header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 3rem;
    height: 60px;
}

.logo {
    text-decoration: none;
    color: var(--accent-dark);
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
}
.logo img {
    height: 30px;
    width: auto;
}
.logo:hover{
    transform: scale(1.05);
}

.subtitle {
    color: var(--muted);
    font-size: 1rem;
}
.subtitle strong {
    color: var(--highlight);
    font-weight: bold;
}


footer {
    background-color: var(--logo-color);
    padding: 20px;
    text-align: center;
}
footer p{
    color: var(--muted);
}

h1{
    font-family: 'Tangerine', serif;
}